spring:
  application:
    name: userservice

  cloud:
    discovery:
      enabled: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  logging:
    level:
      org.springframework.security: DEBUG

  datasource:
    url: jdbc:postgresql://localhost:5432/users_db
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

eureka:
  client:
    enabled: false

server:
  port: 8081

jwt:
  # prefer injecting from environment: set JWT_SECRET in env and it will be used
  secret: ${JWT_SECRET:22FEsmGhwcKD0FZkXrr69doFAayf62Vxx6rh0b0sl5qFuasdasdasd}