spring:
  application:
    name: notificationservice

  config:
    import: optional:classpath:environment/application-secrets.yml

  datasource:
    url: jdbc:postgresql://localhost:5433/notification_db
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  mail:
    host: smtp.gmail.com
    port: 587
    username: mvuckovic9824rn@raf.rs
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.ssl.enable: true
